{% extends "base.html" %}
{% block content %}
  <div class="container border border-top-0">
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Фото</th>
          <th scope="col">Наименование</th>
          <th scope="col">Поставщик</th>
          <th scope="col">Цена</th>
        </tr>
      </thead>
      <tbody>
        {% for item in content.shopping_results %}
          <tr>
            <td>
              <img class="img-thumbnail"
                   width="100"
                   height="100"
                   style="max-width:100px;
                          max-height:100px"
                   src="{{ item.thumbnail }}"
                   alt="Product Image" />
            </td>
            <td>
              <p>
                <a href="{{ item.offers_link }}" class="fw-semibold" target="_blank">{{ item.title }}</a>
              </p>
              <p>
                {% if item.offers %}
                  <a href="/product/{{ item.product_id }}?q={{ request.query_params.get('q', '') }}"
                     class="btn btn-sm btn-outline-success">Другие предложения</a>
                {% endif %}
              </p>
            </td>
            <td width="250px">{{ item.seller }}</td>
            <td width="150px">
              <p class="fw-bold">{{ item.price }}</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
